# Compiled class files
target/
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip

# Virtual Machine / OS files
.DS_Store
Thumbs.db

# IDE files (IntelliJ, VS Code)
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# App Specific
OutputEXE/
commander_stats.properties
